.progressVisualFull {
    display: flex;
    /* change the value if you want different thickness */
    height: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

  }
  
  .progressVisualPart {
    /* Number of the seconds for complete animation */
    transition: width 2s;
    border-radius: 10px;
  }
  
  .progressLabel {
    border: 5px;
   
    /* Nothing here, move along */
    
  }

  /* body {
    margin: 20px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
  } */
  